.admin-dashboard {
    margin: 30px;
    text-align: center;
  }
  
.box-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px;
}

.charts {
    display: flex;
    justify-content: space-around;
}
  