.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1c1c1c !important;
}
.navbar-elements .nav-link {
  color: #f36b37 !important;
  text-transform: uppercase;
}

.navbar-elements .nav-link:hover {
  color: #fdf8f3 !important;
}

.divider {
  color: #f36b37;
}

.copyright-tag {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  color: #f36b37;
  display: flex;
  justify-content: center;
}

.copyright-font {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
